<h1>Hello#index</h1>
<h1>Hello, World!</h1>
<h2>HEEEEEEEEEEEELLLLLLLLLL</h2>
<p>HELLO, WORLD!</p>
<p>Find me in app/views/hello/index.html.erb</p>
<p>Current Time: <%=Time.current %></p>
<p>Current Time: <%=Time.now %></p>
<p>現在時刻: <%=  @time %></p>

